body {
	background-color: #9b7653;
	color: #000000;
	border-color: #aaaaaa;
	margin: 20px;
	width: 1280px;
	font-family: sans-serif;
}

#wrapper {
	width: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#header {
	width: auto;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

form {
	color: #9b7653;
	background-color: #3b4a37;
	font-size: 12px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	border: 2px solid #1d212e;
	margin: 25px;
	padding: 25px;
}

table {
	font-size: 13px;
	padding: 4px 10px;
} 

td {
	background-color: #3b4a37;
	-webkit-text-stroke: 0.5px #3b4a37;
	color: #9b7653;
	font-size: 13px;
	min-width: 25px;
	border: 2px solid #9b7653;
	border-radius: 3px;
	padding: 4px 10px;
}

#button {
	background-color: #aaaaaa;
	color: #1d212e;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #aaaaaa;
	border-radius: 3px;
	height: 20px;
	padding: 4px;
	margin: 1px 2px;
}

#selected, th {
	color: #1d212e;
	background-color: #aaaaaa;
	border: 2px solid #aaaaaa;
	border-radius: 3px;
	padding: 4px 10px;
	margin-bottom: 40px;
}

#buttonX {
	background-color: #9b7653;
	color: #3b4a37;
	font-size: 10px;
	font-weight: bold;
	border: 1px solid #1d212e;
	border-radius: 3px;
	text-decoration: none;
	padding: 4px;
	margin: 1px 2px;	
}

#button_log {
	color: #1d212e;
	background-color: #aaaaaa;
	font-weight: bold;
	border-radius: 3px;
	width: 50px;
	height: 25px;
	font-size: 10px;
}

#logoutForm {
	margin: 10px;
	border: 0px;
	background-color: transparent;
}
























